{% extends "themes/base_visitor.html.twig" %}

{% block title %}Contact{% endblock %}

{% block description %}Nous contacter{% endblock %}

{% block keywords %}Nous contacter{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nous contacter</h1>
{% endblock %}