{% extends "themes/base_user.html.twig" %}

{% block title %}Espace privé{% endblock %}

{% block description %}Espace privé{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello {{app.user.firstName}}</h1>
{% endblock %}