{% extends "themes/base_admin.html.twig" %}

{% block title %}Ajouter une nouvelle catégorie{% endblock %}

{% block description %}Ajouter une nouvelle catégorie afin de mieux ranger les articles{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouvelle catégorie</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 col-lg-6 mx-auto shadow p-4">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label for="admin_category_form_name">Nom</label>
                        {{form_widget(form.name, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary shadow">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}